#mainpage{
    margin-left: 50px;
    margin-top: 25px;
    margin-right: 50px;
}
#maintitle{
    color: rgb(31, 124, 116);
}
.webTitle{
    padding-left: 150px;
    display: inline;
}
#btnlink{
    text-decoration: none;
    color: black;
}
.webText{
    padding-left: 30px;
    }
#email{
    text-decoration:none;
    color:rgb(58, 97, 99);
}
