<div>
    <h3>Hello!</h3>
    <span>Thank you for taking the time to visit some of my work.</span>
    <br>
    <table class="table table-sm">
        <tbody>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>
                <h5 class="prsTitle" (click)="PRSlink()">PRS System</h5>
            </tr>
            <tr>
                <button>
                <img src="/assets/ScottPRSmd.png" (click)="PRSlink()">
                </button>
            </tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>&nbsp;</tr>
            <tr>
                <h5 class="spAdv" (click)="SpAdvLink()">Space Adventure</h5>
            </tr>
            <tr>
                <button>
                    <img src="/assets/SpAdvPazaakmd.png" (click)="SpAdvLink()">
                </button>
            </tr>
        </tbody>
    </table>
</div>
