#mainpage{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 2%;
}
#maintitle{
    color: white; /* prior 31, 124, 116 */
}
.webTitle{
    padding-left: 120px;
    display: inline;
}
#btnlink{
    text-decoration: none;
    color: black;
}
.webText{
    padding-left: 30px;
    
    }
#email{
    text-decoration:none;
    color:rgb(172, 246, 250);
}
.table{
    background-color: rgba(255, 255, 255, 0.699);
    border-radius: 40px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    cursor: pointer;
}
#spanTitle{
    color: white;
}
#resume{
    padding-left: 200px;
    text-decoration: underline;
    color: white;
    font-size: large;
}

