.image{
    display: inline-block;
}
.cvImg{
    display: inline-block;
    padding-left: 20%;
    margin-bottom: 2%;
}
.textArea{
    display: inline-block;
    width: 37%;
    word-wrap: normal;
    font-size: large;
}
.text{
    color: white;
    margin-left: 15%;
}
#cvbtn{
    color: white;
    
}