.image{
    display: inline-block;
}
.cvImg{
    display: inline-block;
    padding-left: 20%;
}
.textArea{
    display: inline-block;
    width: 35%;
    word-wrap: normal;
}
.text{
    color: white;
    margin-left: 10%;
}