<div>
    <div class="textArea">
        <p class="text">
            If you have any further questions or want to just chat about code, please do not hesitate to reach out. 
            &nbsp;That also applies if you have any suggestions or improvements on my code and projects please feel free to send me a message, 
            I appreciate all feedback and would love to see what other people think as well as any improvements that I may not yet know. 
            &nbsp;I love to learn new things.
        </p>
        <p class="text">
            If you would like to print out my resume<button class="btn btn-link" id="cvbtn" (click)="printCV()">click here!</button>
        </p>
        <p class="text">
            The links to my <a href="https://github.com/ScottTech82" target="_blank" id="cvbtn">GitHub</a> 
            and <a href="https://www.linkedin.com/in/josh-scott-98110ba1/" target="_blank" id="cvbtn">LinkedIn</a> are clickable on the PDF of my resume or just click the word for the one you would like to visit.
        </p>
    </div>
    <div class="image">
        <br>
        <img src="/assets/onlineCV.png" class="cvImg">
    </div>
</div>
