.image{
    display: inline-block;
    cursor: pointer;
}
.cvImg{
    display: inline-block;
    padding-left: 0%;
    margin-bottom: 2%;
}
.textArea{
    display: inline-block;
    width: 48%;
    word-wrap: normal;
    font-size: large;
    padding-right: 8%;
}
.text{
    color: white;
    margin-left: 15%;
}
#cvbtn{
    color: white;
    font-size: large;
    text-decoration: underline;
    padding: 0px 0px;
}